



<!DOCTYPE html>
<html>
    <head>
        <style>
            /* #html{
                margin-left: 10px
            } */
            legend{
                font-size: large;
                font-family:Arial, Helvetica, sans-serif
            }
            label{
                margin-left: 10px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
            }
            .purpleButton{
                background-color: rgb(179, 15, 179);
                color:antiquewhite;
            }
        </style>
        <!-- METADATA!!! -->
    </head>
    <body>
        <form>
            <fieldset>
                <form action="/action_page.php">
                    <legend>your fav language:</legend>
                    <input type="radio" id="html" name="fav_language" value="HTML">
                    <label for="html">HTML</label><br>
                    <input type="radio" id="css" name="fav_language" value="CSS">
                    <label for="css">CSS</label><br>
                    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                    <label for="javascript">JavaScript</label><br><br>
                    <input class="purpleButton" type="submit" value="Submit">
                  </form>
            </fieldset>
        </form>
    </body>
</html>






