<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
    
        <title>My page!! LIVE!</title>
        <link rel="stylesheet" href="/css/mypageFlex.css" />
      </head>
      <body>
        <!-- header!!! -->

        <header>
            <h1 style='text-align:center'>🌲 Maine is a State 🌲</h1>
        </header>
          <!-- navbar !!!! -->

          <nav class="grid">
            <ul class="navBar">
              <li id="navItem1"><a href="#">Home</a></li>
              <li id="navItem2"><a href="#">About</a></li>
              <li id="navItem3"><a href="#">Contact</a></li>
            </ul>
        </nav>
        
        <!-- main content!!!! -->
        
        <main class="main">
          <div class="articles">
            <article class="listArticleItem">
              <h2 class="articleHeading">Damariscotta</h2>
              <img 
              src="https://d3w216np43fnr4.cloudfront.net/1920x1080/8459/140319/1.jpg?version=1600888701" 
              alt="Karen's surprise Image" 
              class="articlePicture"
              />
              <p class="articleText">
                Damariscotta is a town in Lincoln County, Maine, United States. 
                The population was 2,297 at the 2020 census.
                Damariscotta is the oyster capital of New England. 
                A popular tourist destination, the towns of Damariscotta and Newcastle are linked by the Main Street bridge over the Damariscotta River, forming the "Twin Villages". 
                The name Damariscotta derives from a native place-name meaning place of abundance of small fish.
              </p>
            </article>
            <article class="listArticleItem">
              <h2 class="articleHeading">Bar Harbor</h2>
              <img 
              src="https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcQTQhfQ7TVsrw2g_QtFD8awRXCWcmqriWBzfnL2EyhbnXK8UMEhMorD29K1U4gFXgyn" 
              alt="Karen's surprise Image" 
              class="articlePicture"
              />
              <p class="articleText">
                Bar Harbor is a resort town on Mount Desert Island in Hancock County, Maine, United States. 
                As of the 2020 census, its population is 5,089. 
                During the summer and fall seasons, it is a popular tourist destination and, until a catastrophic fire in 1947, the town was a noted summer colony for the wealthy.
                The town is home to the College of the Atlantic, Jackson Laboratory and MDI Biological Laboratory.
                Bar Harbor is also home to the largest parts of Acadia National Park, including Cadillac Mountain, the highest point within 25 miles (40 km) of the coastline of the eastern United States.              </p>
            </article>

          </div>
            
            <!-- aside!!!! -->
            
            <aside class="sidebar">
                <h2>Cheaky little sidebar</h2>
                <ul>
                  <li><a href="#">Good Times</a></li>
                  <li><a href="#">Were Had</a></li>
                  <li><a href="#">By All</a></li>
                  <li><a href="#">After A While</a></li>
                  <li><a href="#">I promise</a></li>
                </ul>
              </aside>
        </main>

        <!-- footer!!! -->

        <footer class="footer">
            <p class="footerColor">©Copyright 2050 by nobody. All rights reversed.</p>
        </footer>
    </body>
</html>






